<app-header></app-header>

<main>
    <h1>Bienvenue sur <strong>Knowledge Learning</strong></h1>
    
    <div class="home">
        <h2>Les formations Knowledge, maintenant disponibles chez vous !</h2>
        <hr>

        <p>
            La société <strong>Knowledge</strong>, spécialisée dans l'édition de supports de formation, 
            vous propose désormais un tout nouveau service en ligne : <strong>Knowledge Learning</strong> !
          </p>
          <p>
            Accédez à des cursus de qualité dans divers domaines (comme la musique, le jardinage, la cuisine, 
            et bien d'autres encore !), et formez-vous depuis chez vous, à votre rythme !
          </p> 
      
          <div class="links">
            <a [routerLink]="['/login']">Se connecter</a>
            <a [routerLink]="['/register']">Créer un compte</a>
          </div>
    </div>
</main>

<app-footer></app-footer>
