p {
    text-align: center;
    font-size: 1rem;
}

a:link {
    text-decoration: none;
    color: #00497c;
    display: inline-block;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #00497c;
    display: inline-block;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #0074c7;
    display: inline-block;
    font-weight: bold;
}

a:active {
    text-decoration: none;
    color: #0074c7;
    display: inline-block;
    font-weight: bold;
}
