<header>
    <div class="header">
        <a [routerLink]="['/']"><img src="assets/logo.png" alt="Le logo de « Knowledge Learning »"></a>
        <p id="name">Knowledge Learning</p>
        <nav class="links">
        <ul>
            <li><a [routerLink]="['/']">Retour à la page d'accueil</a></li>
            <li><a [routerLink]="['/courses']">Les cursus et leçons</a></li>
            <li><a [routerLink]="['/certifications']">Mes certifications « Knowledge Learning »</a></li>
        </ul>
        </nav>
    </div>
</header>
