.lesson {
    border: 0.125rem solid #c0c0c0;
    border-radius: 0.5rem;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #00497c;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 0rem;
}

hr {
    color: #c0c0c0;
}

.ng-template {
    text-align: center;
}

button {
    margin-top: 1.25rem;
}
